[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Empty. Add your own CSS if you like */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content-bg{
    margin-top: 5%;
}
.padding{
    background-color: #272822 !important;
}

.releStatus{
    color:#66d9ef;
}

.bg-color{
    color:white;
}

.spinner svg {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    stroke: white;
    fill: white;
}

.error{
    color:#ff3b30;
}

.alert{
    color:#c9892c;
}

.success{
    color:#e59b2e;
}

body{
    overflow-y: hidden !important;
}

.tabs-icon-top,
.tabs-icon-top .tab,
.tabs-icon-top .tab .nav-view-home {

    color: #272822;
}

.bar.bar-stable {
    border-color: #c9892c;
}

@media screen and (min-height : 320px) and (max-height : 800px) {
    .bar.bar-stable .title {
        color: #272822;
    }
}

.tabs {
    border-color: #c9892c;
    background-color: #272822;
}
.tabs-striped .tabs {
    border-color: #c9892c;
    background-color: #272822;
}


[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #272822;
}


/** Timer **/

.progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 21px;
    color: white;
}

.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 9em;
    font-size: 1em;
    text-align: center;
    font-weight: 100;
}

.ionic_timepicker_popup .heading {
    background-color: #387ef5 !important;
}
.ionic_timepicker_popup .button_set, .ionic_timepicker_popup .button_close {
    background-color:  #387ef5 !important;
}

ion-tabs.tabs-color-active-positive .tab-item {
    color: #d2d2d1;
}